html{
	font-family: helvetica,Arial;
	font-size: 22px
}
a {
	text-decoration: none;
}
body {
      background-color: #000000;
      color:rgba(255,255,255,0.5);
  }

      /*opacity: 0.5;*/
h1{
 	font-size: 2rem;
 	font-weight: 300;
 	text-align: center;
 	margin-top: 5px;
 }     

 h2{ 
 	font-size:1rem;
 }
h3{
	font-size: 1rem;
}
nav ul li {
	display: inline-block;
	/*margin: 20px 50px 0 50px;*/
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 50px;
	color: white;
	border:20px;
	padding:10px;
	background-color: black;
	border-radius: 5px;
	transition: background-color 0.5s, color .05s;
}
nav ul li a {
	color: yellow;
}
nav ul li a:hover{ 
            color: white;
}
nav ul li:hover {
	background-color:rgba(255,255,255,0.5);
	color: black;
}
nav ul{
	text-align: center;
	font-size: 17px;
	list-style-type:none;	
	margin: 0;
}
nav {
	 background-color: rgb(0,0,0,0);
	/* position: fixed;*/
	 width: 100%;
	 top: 0px;
}
.banner{
	     width: 100%;
	     margin-top: 55px;
}
div {
	padding:10px;
	margin:10px;
	text-align: center;

}
.a {
	display: inline-block;
}
.a:hover {
	/*border:1px solid yellow; 
*/	color: white;   
	background-color: gray;

}

.clothing {
	text-align:center;
	border:1px solid gray;
    width:85%;
    margin: 50px;
  /*  margin-left: 10%;
    margin-right: 10%;
*/
}
/*.clothing:hover {
	background-color: yellow;
}*/
th /*.clothing tr td*/ {
	padding: 20px;
	border-bottom: 1px solid white;
	
	
}
.clothing tbody tr td{
	padding:20px;

}
.column1{
/*	border: 1px solid white;
*/	padding: 15px;
	width: 25%;
}
.about-img{
	text-align: center;
}
.circle-img{
	margin-top: 200px;
	/*border-radius: 1%;*/
/*@media(max-width: 1024px){}*/
}
@media(max-width: 510px){ 
	nav ul li {
        margin:5px 5px;
    }

 h1 {
 	font-size: 1rem;
 }


	}


}

